name: Deploy FastAPI to Azure App Service

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies (backend)
        working-directory: backend
        run: |
          python -m venv antenv
          source antenv/bin/activate
          pip install -r requirements.txt
      - name: Check publish profile secret exists
        run: |
          if [ -z "${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}" ]; then
            echo "Publish profile secret is EMPTY or NOT AVAILABLE"
            exit 1
          else
            echo "Publish profile secret is present"
          fi

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: tech0-gen-11-step3-2-py-73-api-ws
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: backend

      
